# MongoDB
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster-url>/eco_admin?retryWrites=true&w=majority

# JWT Auth
JWT_SECRET=6868cdd9$2a$12$O9e02fPNu.IET.YjZQ904.nCCvF/WuJ9b11513ec2uEFbypfk9.S0hCvFADBu0ecf1bb3
JWT_EXPIRES_IN=1d
JWT_REMEMBER_EXPIRES_IN=30d

# Cloudinary (used client-side for unsigned uploads + server-side admin API)
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=your_cloud_name
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=your_unsigned_upload_preset
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# App
NODE_ENV=development
